.chat-side {
  width: 300px;
  height: 100%;
  font-weight: bold;
  color: $white;
  &__user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 16px;
    &__top-items {
      height: 20px;
      width: 260px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      &__name {
        
      }
      &__icons {
        width: 60px;
        text-align: right;
        a {
          color: $white;
          text-decoration: none;
          margin-left: 5px;
        }
      }
    }
  }

  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    &__group {
      height: 45px;
      padding:20px 20px 40px 20px;
      &__name {
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__message {
        font-size: 11px;
      }
    }
  }
}